		#wrapper {
			width: 850px;
			height: 600px;
			background-color: #008000;
			margin:0 auto;
			margin-top:50px;
			padding-top:30px;
			overflow: hidden;
		}
		#canvas {
			width: 700px;
			height: 500px;
			background-color: #ccc;
			margin: 30px auto;
		}